<h1 class="mx-5 my-5">Stupid Coaching</h1>

<form action="/answer" data-turbo="false" method="get" class="mx-5 my-5">
  <div class="mb-3">
    <p>Ask your coach anything</p>
      <div class ="d-flex">
        <input type="text" id="question" name="question" class="form-control w-25">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
  </div>
</form>
